  IncreaseReplicaCountPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: !Ref MyBucket
      Cooldown: 300
      ScalingAdjustment: 1
  DecreaseReplicaCountPolicy:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: !Ref MyBucket
      Cooldown: 300
      ScalingAdjustment: -1
  BucketSizeAlarmHigh:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Alarm when bucket size exceeds 10GB"
      MetricName: BucketSize
      Namespace: AWS/S3
      Statistic: Maximum
      Period: 300
      EvaluationPeriods: 1
      Threshold: 10000
      ComparisonOperator: GreaterThanThreshold
      AlarmActions:
        - !Ref IncreaseReplicaCountPolicy
  BucketSizeAlarmLow:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmDescription: "Alarm when bucket size falls below 5GB"
      MetricName: BucketSize
      Namespace: AWS/S3
      Statistic: Maximum
      Period: 300