# Use a base image that supports the OCI image format
FROM scratch

# Set the image label according to OCI specification
LABEL org.opencontainers.image.title="My App" \
      org.opencontainers.image.description="This is my app" \
      org.opencontainers.image.authors="Jeroen Mulder <Jeroen.Mulder@example.com>" \
      org.opencontainers.image.created="2023-03-31T14:00:00Z" \
      org.opencontainers.image.version="1.0"

# Add the application binary to the container image
ADD myapp /usr/bin/myapp

# Set the default command for the container
CMD ["/usr/bin/myapp"]